<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!-- 配置整合mybatis过程 -->
	<!-- 1.配置数据库相关参数properties的属性：${url} -->
	<!-- <context:property-placeholder location="classpath:jdbc.properties"/> -->  <!-- 根据自己 jdbc.properties 的存放路径来修改 location -->
	<bean class="com.util.EncryptPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- 如果有其他加密文件需要解密，需要继续添加value，而value里面放的上文件的绝对路径 -->
				<value>classpath:jdbc.properties</value>
				<value>classpath:redis.properties</value>	
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>
		
	<!-- 2.数据库连接池 -->
    <bean id="dataSource"
          class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
	

	<!-- 3.配置SqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置MyBaties全局配置文件:mybatis-config.xml -->
		<property name="configLocation" value="classpath:mybatis-config.xml" />  <!-- 根据自己 mybatis 的文件名字来修改 value-->
		<!-- 扫描 pojo 包 使用别名 -->
		<property name="typeAliasesPackage" value="com.pojo" />  <!-- 根据数据库表映射出来的实体类所存放的包名来修改 value -->
		<!-- 扫描sql配置文件:mapper需要的xml文件 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml" /> <!-- 根据跟数据库有关的 xml 文件所存放的目录来修改 value -->
	</bean>

	<!-- 4.配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 注入sqlSessionFactory -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<!-- 给出需要扫描Dao接口包 -->
		<property name="basePackage" value="com.dao" />  <!-- 根据操作数据库的一些java类存放的包名来修改 value -->
	</bean>
</beans>